<html>

<head>
    <title>회원 전체 조회.</title>
</head>

<body>
    <p>회원 전체</p>
    <table border="1">
        <tr style="background-color: yellow;">
            <th>회원ID</th>
            <th>주문번호</th>
            <th>상품코드</th>
            <th>주문수량</th>
        </tr>
        {% for d in df_list %}
        <tr>
            <td>
                <a href="http://127.0.0.1:8000/oracle/cart/">{{d.cart_member}}</a>
            </td>
            <td>{{d.cart_no}}</td>
            <td>{{d.cart_prod}}</td>
            <td>{{d.cart_qty}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>