<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>::: smartfarm 데이터입력 :::</title>
    <link href="{% static '/project2app/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <nav>
        {% include 'project2app/include/index_nav.html' %}
    </nav>
    <div class="text-center">
    <h3>스마트팜 데이터 입력</h3>
    <hr/>
    <p>
        <h4><a href="/project2/smartfarmsurvey">데이터 입력하기</a></h4>
        <!-- <a href="/chi2/analysis">분석 결과 보기</a> -->
    </p>
    <p>
    <center>
        <td>
        {{df | safe}}
        </td>
    </center>
    </p>
    </div>
</body>

</html>
