<html>
    <head>
        <title>상품 상세 조회</title>
    </head>
    <body>
        <p>상품 상세
        <table border = '1'>
            <tr>
                <td style="background-color: lightblue;">Lprod_id</td>
                <td>{{lprod_id}}</td>
            </tr>
            <tr>
                <td style="background-color: lightblue;">Lprod_gu</td>
                <td>{{lprod_gu}}</td>
            </tr>
            <tr>
                <td style="background-color: lightblue;">Lprod_nm</td>
                <td>{{lprod_nm}}</td>
            </tr>
        </table>
        </p>
    </body>
</html>