<!DOCTYPE html>

<!-- static 폴더의 데이터 활용하기 -->
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>::: PEST :::</title>
        <link href="{% static '/project2app/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav>
            {% include 'project2app/include/index_nav.html' %}
        </nav>
        
        <header class="bg-success py-4">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">환경분석</h1>
                    <p class="lead fw-normal text-white-50 mb-0">노동력 확보 어려움 해결</p>
                </div>
            </div>
        </header>

    <h2 style="text-align:left;">1.농업 인구 부족률 </h2>
    <img style="text-align:left;" src="{% static 'project2app/images/근로자 부족률 추이.PNG' %}" width = '500' height = '300'>
    <br /></br>
    <br /></br>
    
    <h2>2.~~ </h2>
    <img src="{% static 'project2app/images/인구수.PNG' %}" width = '350' height = '250'>
    <img src="{% static 'project2app/images/인구수1.PNG' %}" width = '140' height = '250'>
    <br /></br>
    <br /></br>
    <h2>3.~~ </h2>
    <img src="{% static 'project2app/images/농가수 농가 인구추이.PNG' %}" width = '350' height = '250'>
    <img src="{% static 'project2app/images/농가수 농가 인구 추이1.PNG' %}" width = '350' height = '130'>
    <br /></br>
    <br /></br>

    <br /></br>
    <h2>4.~~ </h2>
    <img src="{% static 'project2app/images/20대 취업률 수치.PNG' %}" width = '350' height = '250'>
    <img src="{% static 'project2app/images/50대 취업률 수치.PNG' %}" width = '350' height = '250'>
    
    <br /></br>
    <br /></br>
    <h2>2.~~ </h2>
    <img src="{% static 'project2app/images/스마트팜 보급현황.PNG' %}" width = '350' height = '250'>

    <br /></br>
    <br /></br>
    <h2>2.~~ </h2>
    <img src="{% static 'project2app/images/정부 지원금.PNG' %}" width = '600' height = '200'>
    
    <!-- Footer-->
    <footer class="py-5 bg-success">
        <div class="m-0 text-center text-white">
            <span>한국품질재단 빅데이터</span>
            <span>2조 : 강동현 지동주 이한빈</span>
            <span>Tel : 051-000-0000</span>
            <span>사업자번호 : 000-00-0000</span>
            <span><address>46279 부산광역시 금정구 중앙대로 1617-12 푸르지오 상가 2층 207호</address></span>
            </div>
            <p class="m-0 text-center text-white">copyright &copy; <strong>BigData SmartFarm</strong>. All Rights Reserved.</p>        
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>