{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <!-- <a class="navbar-brand" href="/project2/indexfarm">
            <img src="{% static 'project2app/images/logo.png' %}" style="max-width: 150px; height: 100px;">
        </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/project2/indexfarm">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/project2/pest">환경분석</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/project2/factor">요인분석</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project2/foliumfarm">전국현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project2/smartfarmcenter">전국센터</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/project2/list">스마트팜 데이터현황</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="/project2/smartfarmsurvey">스마트팜 데이터입력</a>
                </li>       
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Smart Farm link</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://www.smartfarmkorea.net/main.do">스마트팜 코리아</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="https://data.smartfarmkorea.net/infoUse/customChart.do?menuId=M060403">스마트팜 분석 서비스</a></li>
                        <li><a class="dropdown-item" href="https://smartfarm.rda.go.kr/">농촌진흥청 스마트팜</a></li>
                        <li><a class="dropdown-item" href="https://www.mafra.go.kr/mafra/index.do">농림축산식품부</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form> -->
        </div>
    </div>
</nav>